## Importing libraries

In [5]:
import pandas as pd 
import cbsodata
import json
import re
import os
from concurrent.futures import ThreadPoolExecutor, as_completed

## Loading the data

In [12]:
# Load the data from the JSON file
with open('data/table_selection.json', 'r', encoding='utf-8') as json_file:
    table_data = json.load(json_file)

# Create a dictionary to store the identifiers and their frequencies
identifier_freq_dict = {}

# Loop through the data and extract the identifier and frequency for each entry
for entry in table_data:
    identifier = entry.get('Identifier', 'N/A')
    frequency = entry.get('Frequency', 'N/A')
    
    # Add the identifier and frequency to the dictionary
    identifier_freq_dict[identifier] = frequency

# Print the dictionary of identifiers and their frequencies
print("Dictionary of Identifiers and Frequencies:")
for identifier, frequency in identifier_freq_dict.items():
    print(f"Identifier: {identifier}, Frequency: {frequency}")

Dictionary of Identifiers and Frequencies:
Identifier: 85928NED, Frequency: Perkwartaal
Identifier: 80072ned, Frequency: Perkwartaal
Identifier: 81589NED, Frequency: Perkwartaal
Identifier: 83147NED, Frequency: Perkwartaal
Identifier: 81588NED, Frequency: Perkwartaal
Identifier: 83149NED, Frequency: Perkwartaal
Identifier: 83148NED, Frequency: Perkwartaal

In [13]:
def fetch_and_save_tables(identifiers, output_folder='data'):
    """
    Fetches data for each table identifier using `cbsodata.get_data()` and saves it to a CSV file,
    skipping files that already exist.
    
    Parameters:
        identifiers (list): List of table identifiers to fetch data for.
        output_folder (str): The folder where the CSV files will be saved (default is 'data').
    
    Returns:
        None
    """
    # Ensure the output folder exists
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    for identifier in identifiers:
        # Define the output CSV file path
        output_file = f'{output_folder}/{identifier}.csv'
        
        # Check if the file already exists
        if os.path.exists(output_file):
            print(f"Skipping {output_file} because it already exists.")
            continue
        
        # Fetch data for the current table identifier
        print(f"Fetching data for table identifier: {identifier}")
        data = pd.DataFrame(cbsodata.get_data(identifier))
        
        # Save the DataFrame to CSV
        data.to_csv(output_file, index=False)
        
        # Print success message
        print(f"Data for {identifier} saved to {output_file}")

# Example usage
fetch_and_save_tables(identifier_freq_dict.keys())

Skipping data/85928NED.csv because it already exists.
Skipping data/80072ned.csv because it already exists.
Skipping data/81589NED.csv because it already exists.
Skipping data/83147NED.csv because it already exists.
Skipping data/81588NED.csv because it already exists.
Skipping data/83149NED.csv because it already exists.
Skipping data/83148NED.csv because it already exists.

In [14]:
# Function to load CSV files
def load_csv_files(file_paths):
    """
    Load multiple CSV files into DataFrames and prefix the column names with the file name.
    
    Parameters:
        file_paths (list): List of file paths to CSV files.
    
    Returns:
        list: List of DataFrames with prefixed column names.
    """
    dataframes = []
    
    for file_path in file_paths:
        # Extract the filename without the extension to use as a prefix
        file_name = file_path.split('/')[-1].split('.')[0]
        
        # Load the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Prefix the column names with the filename
        df = df.add_prefix(f"{file_name}_")
        
        # Special handling for 'Perioden' and 'SBI' columns, which shouldn't be prefixed
        if f"{file_name}_Perioden" in df.columns:
            df = df.rename(columns={f"{file_name}_Perioden": 'Perioden'})  # Keep 'Perioden' without prefix
        if f"{file_name}_BedrijfstakkenBranchesSBI2008" in df.columns:
            df = df.rename(columns={f"{file_name}_BedrijfstakkenBranchesSBI2008": 'BedrijfstakkenBranchesSBI2008'})  # Keep 'BedrijfstakkenBranchesSBI2008' without prefix
        if f"{file_name}_ID" in df.columns:
            df = df.rename(columns={f"{file_name}_ID": 'ID'})  # Keep 'ID' without prefix
        if f"{file_name}_Jaar" in df.columns:
            df = df.rename(columns={f"{file_name}_Jaar": 'Jaar'})  # Keep 'Jaar' without prefix
        if f"{file_name}_Kwartaal" in df.columns:
            df = df.rename(columns={f"{file_name}_Kwartaal": 'Kwartaal'})  # Keep 'Kwartaal' without prefix
        
        # Append to the list of DataFrames
        dataframes.append(df)
    
    return dataframes

# Function to process the 'Perioden' column
def process_period_column(df, perioden_column='Perioden', year_column='Year', quarter_column='Quarter'):
    """
    Process the 'Perioden' column to extract the latest year and quarter.
    
    Parameters:
        df (DataFrame): DataFrame with 'Perioden' column.
        perioden_column (str): Name of the period column.
        year_column (str): Name of the column for extracted year.
        quarter_column (str): Name of the column for extracted quarter.
    
    Returns:
        DataFrame: DataFrame with new 'Year' and 'Quarter' columns.
    """
    # Extract latest year and quarter from 'Perioden' column
    df[[year_column, quarter_column]] = df[perioden_column].apply(lambda x: pd.Series(extract_latest_year_and_quarter(x)))
    return df

# Helper function to extract latest year and quarter
def extract_latest_year_and_quarter(period_text):
    """
    Extracts the latest year and quarter from a period that may contain a date range (e.g., "2023 april - 2024 maart").
    
    Parameters:
        period_text (str): The period string to process.
    
    Returns:
        tuple: A tuple containing the latest year and quarter.
    """
    # Regular expression to capture year and month/quarter references
    match = re.findall(r'(\d{4})\s*(\w+)', period_text)
    
    if match:
        # Take the last match in the range (latest part of the period)
        latest_year, latest_period_part = match[-1]
        latest_year = int(latest_year)
        
        # Determine the corresponding quarter for the latest period part (month or quarter)
        latest_quarter = extract_quarter(latest_period_part)
        
        return latest_year, latest_quarter
    else:
        # Return None if no valid year/quarter is found
        return None, None

# Helper function to determine the quarter based on months or quarter phrases like '3e kwartaal'
def extract_quarter(period_part):
    """
    Extracts the quarter from the period part (e.g., based on months or quarter keywords).
    
    Parameters:
        period_part (str): The part of the period string after the year.
    
    Returns:
        int: The corresponding quarter (1 to 4), or None if no valid quarter is found.
    """
    # Handle month-based quarters
    if any(month in period_part for month in ['januari', 'februari', 'maart']):
        return 1
    elif any(month in period_part for month in ['april', 'mei', 'juni']):
        return 2
    elif any(month in period_part for month in ['juli', 'augustus', 'september']):
        return 3
    elif any(month in period_part for month in ['oktober', 'november', 'december']):
        return 4
    
    # Handle phrases like '1e kwartaal', '2e kwartaal', etc.
    if '1e' in period_part:
        return 1
    elif '2e' in period_part:
        return 2
    elif '3e' in period_part:
        return 3
    elif '4e' in period_part:
        return 4
    
    # Return None if no valid quarter is found
    return None

def rename_sbi_column(df, primary_sbi_column='BedrijfstakkenBranchesSBI2008', backup_sbi_column='BedrijfskenmerkenSBI2008'):
    """
    Renames the 'BedrijfskenmerkenSBI2008' column to 'BedrijfstakkenBranchesSBI2008' if the primary column does not exist.
    
    Parameters:
        df (DataFrame): The DataFrame to process.
        primary_sbi_column (str): The desired primary SBI column name. Default is 'BedrijfstakkenBranchesSBI2008'.
        backup_sbi_column (str): The backup SBI column to rename. Default is 'BedrijfskenmerkenSBI2008'.
    
    Returns:
        DataFrame: Updated DataFrame with the renamed column.
    """
    # Check if the primary column does not exist and the backup column does exist
    if primary_sbi_column not in df.columns and backup_sbi_column in df.columns:
        # Rename 'BedrijfskenmerkenSBI2008' to 'BedrijfstakkenBranchesSBI2008'
        df = df.rename(columns={backup_sbi_column: primary_sbi_column})
        print(f"Renamed '{backup_sbi_column}' to '{primary_sbi_column}'")
    
    return df

# Function to filter by industry
def filter_by_industry(df, industry_column='BedrijfstakkenBranchesSBI2008', valid_industries=None):
    """
    Filter the DataFrame by specific industries.
    
    Parameters:
        df (DataFrame): The DataFrame to filter.
        industry_column (str): Name of the industry column.
        valid_industries (list): List of valid industries to keep.
    
    Returns:
        DataFrame: Filtered DataFrame.
    """
    if valid_industries is None:
        valid_industries = [
            "Q Gezondheids- en welzijnszorg", 
            "G Handel", 
            "C Industrie", 
            "M Specialistische zakelijke diensten", 
            "N Verhuur en overige zakelijke diensten", 
            "O Openbaar bestuur en overheidsdiensten"
        ]
    return df[df[industry_column].isin(valid_industries)]

# Function to filter by year range
def filter_by_year(df, year_column='Year', start_year=2008, end_year=2022):
    """
    Filter the DataFrame by a range of years.
    
    Parameters:
        df (DataFrame): The DataFrame to filter.
        year_column (str): Name of the year column.
        start_year (int): The start year (inclusive).
        end_year (int): The end year (inclusive).
    
    Returns:
        DataFrame: Filtered DataFrame.
    """
    return df[(df[year_column] >= start_year) & (df[year_column] <= end_year)]

def clean_dataframe(df, id_column='ID', year_column='Year', quarter_column='Quarter', sbi_column='BedrijfstakkenBranchesSBI2008', sick_leave_column='80072ned_Ziekteverzuimpercentage_1', columns_to_drop=None):
    """
    Cleans the DataFrame by reordering columns to have 'Year', 'Quarter', 'BedrijfstakkenBranchesSBI2008', and '80072ned_Ziekteverzuimpercentage_1' as the first four columns,
    dropping specified columns, and removing duplicate rows.
    
    Parameters:
        df (DataFrame): The DataFrame to clean.
        year_column (str): The year column name. Default is 'Year'.
        quarter_column (str): The quarter column name. Default is 'Quarter'.
        sbi_column (str): The column name for SBI. Default is 'BedrijfstakkenBranchesSBI2008'.
        sick_leave_column (str): The sick leave column name. Default is '80072ned_Ziekteverzuimpercentage_1'.
        columns_to_drop (list): List of column names to drop. Default is ['ID', 'Perioden'].
    
    Returns:
        DataFrame: Cleaned DataFrame with reordered columns, specified columns dropped, and duplicates removed.
    """
    if columns_to_drop is None:
        columns_to_drop = ['ID', 'Perioden', 'Jaar', 'Kwartaal']

    # Define the preferred order of the first four columns
    preferred_columns = [year_column, quarter_column, sbi_column, sick_leave_column]

    # Collect remaining columns in their original order (excluding the preferred ones)
    remaining_columns = [col for col in df.columns if col not in preferred_columns]

    # Combine the preferred columns with the remaining ones
    ordered_columns = preferred_columns + remaining_columns

    # Reorder DataFrame
    df = df[ordered_columns]

    # Drop the specified columns
    df = df.drop(columns=columns_to_drop, errors='ignore')

    # Remove duplicate rows
    df = df.drop_duplicates()

    return df

def group_and_sum(df, group_by_columns):
    """
    Group the DataFrame by specified columns and sum the numeric values.
    
    Parameters:
        df (DataFrame): The DataFrame to group.
        group_by_columns (list): List of columns to group by (e.g., ['Year', 'Quarter', 'BedrijfstakkenBranchesSBI2008']).
    
    Returns:
        DataFrame: Grouped and summed DataFrame.
    """
    # Group by the specified columns and sum the numeric columns
    df = df.groupby(group_by_columns).sum(numeric_only=True).reset_index()
    
    return df

def process_tables(tables):
    """
    Process and combine multiple tables into a single DataFrame by:
    - Processing the 'Perioden' column to extract 'Year' and 'Quarter'
    - Filtering by specific industries and year range
    - Reordering columns to have 'Year' and 'Quarter' after 'ID'
    - Dropping unnecessary columns
    - Removing duplicates
    - Grouping by 'Year', 'Quarter', and 'BedrijfstakkenBranchesSBI2008' and summing the data
    
    Parameters:
        tables (list): List of DataFrames.
    
    Returns:
        DataFrame: The final combined DataFrame.
    """
    # Concatenate the list of tables into one DataFrame
    concat_df = pd.concat(tables, ignore_index=True)
    
    # Step 1: Process the 'Perioden' column
    period_df = process_period_column(concat_df)
    
    # Step 2: Fill missing 'BedrijfstakkenBranchesSBI2008' with 'BedrijfskenmerkenSBI2008'
    sbi_df = rename_sbi_column(period_df)
    
    # Step 3: Filter by industry
    industry_df = filter_by_industry(sbi_df)
    
    # Step 4: Filter by year range (2008 to 2022)
    year_df = filter_by_year(industry_df)
    
    # Step 5: Clean the DataFrame: reorder columns, drop unnecessary ones, and remove duplicates
    clean_df = clean_dataframe(year_df)
    
    # Step 6: Group by 'Year', 'Quarter', and 'BedrijfstakkenBranchesSBI2008' and sum the numeric columns
    final_df = group_and_sum(clean_df, ['Year', 'Quarter', 'BedrijfstakkenBranchesSBI2008'])
    
    return final_df

# Load the identifiers from the JSON file
with open('data/table_selection.json', 'r', encoding='utf-8') as json_file:
    table_data = json.load(json_file)
    identifiers = [entry['Identifier'] for entry in table_data]

# Dynamically generate the file paths using the identifiers
file_paths = [f'data/{identifier}.csv' for identifier in identifiers]

# Load and process the data
tables = load_csv_files(file_paths)
final_df = process_tables(tables)

# Save the final DataFrame to a CSV file
final_df.to_csv('data/merged_tables.csv', index=False)

## Testing

In [ ]:
# Load one specific table file path for testing
file_path = 'data/81588NED.csv'  # Replace 'your_table.csv' with the actual file name
file_name = file_path.split('/')[-1].split('.')[0]

# Load the single table
df = pd.read_csv(file_path)
print("Initial DataFrame:")
print(df.head())

# Step 1: Apply prefixing and special column renaming
df = df.add_prefix(f"{file_name}_")
df = df.rename(columns={
    f"{file_name}_Perioden": 'Perioden',
    f"{file_name}_BedrijfstakkenBranchesSBI2008": 'BedrijfstakkenBranchesSBI2008',
    f"{file_name}_ID": 'ID',
    f"{file_name}_Jaar": 'Jaar',
    f"{file_name}_Kwartaal": 'Kwartaal'
})
print("\nDataFrame after load_csv_files equivalent processing:")
print(df.head())

# Step 2: Process 'Perioden' to extract 'Year' and 'Quarter'
df = process_period_column(df)
print("\nDataFrame after processing 'Perioden' column:")
print(df[['Perioden', 'Year', 'Quarter']].head())

# Step 3: If monthly data, convert to quarterly (based on a mock frequency value for testing)
frequency = 'Maandelijks'  # Replace with the actual frequency from your identifier dictionary if needed
if frequency == 'Maandelijks':
    df = monthly_to_quarterly(df)
    print("\nDataFrame after monthly_to_quarterly conversion:")
    print(df.head())

# Step 4: Rename SBI column if needed
df = rename_sbi_column(df)
print("\nDataFrame after renaming SBI column:")
print(df.head())

# Step 5: Filter by industry
df = filter_by_industry(df)
print("\nDataFrame after filtering by industry:")
print(df.head())

# Step 6: Filter by year range
df = filter_by_year(df, start_year=2008, end_year=2022)
print("\nDataFrame after filtering by year range:")
print(df.head())

# Step 7: Clean the DataFrame
df = clean_dataframe(df)
print("\nDataFrame after cleaning:")
print(df.head())

# Step 8: Reorder columns
df = reorder_columns(df)
print("\nDataFrame after reordering columns:")
print(df.head())

# Step 9: Group and sum the data
df = group_and_sum(df, ['Year', 'Quarter', 'BedrijfstakkenBranchesSBI2008'])
print("\nFinal DataFrame after grouping and summing:")
print(df.head())

Initial DataFrame:
   ID      BedrijfstakkenBranchesSBI2008          Perioden  TotaalBedrijven_1  \
0   0  A-U Alle economische activiteiten  2007 1e kwartaal           987345.0
1   1  A-U Alle economische activiteiten  2007 2e kwartaal          1012210.0
2   2  A-U Alle economische activiteiten  2007 3e kwartaal          1040415.0
3   3  A-U Alle economische activiteiten  2007 4e kwartaal          1057860.0
4   4  A-U Alle economische activiteiten  2008 1e kwartaal          1087470.0

   k_1WerkzaamPersoon_2  k_2WerkzamePersonen_3  k_3Tot5WerkzamePersonen_4  \
0              619565.0               158445.0                    81295.0
1              641795.0               159225.0                    82530.0
2              672410.0               157220.0                    82565.0
3              687525.0               160035.0                    82930.0
4              720745.0               158780.0                    81475.0

   k_5Tot10WerkzamePersonen_5  k_10Tot20WerkzamePersonen_6  \
0                     60100.0                      32635.0
1                     60370.0                      32790.0
2                     60085.0                      32785.0
3                     59680.0                      32620.0
4                     59135.0                      32555.0

   k_20Tot50WerkzamePersonen_7  ...  MaatschapSamenwerking_23  \
0                      20280.0  ...                   47365.0
1                      20295.0  ...                   47290.0
2                      20285.0  ...                   44370.0
3                      20200.0  ...                   44405.0
4                      20035.0  ...                   44495.0

   VennootschapOnderFirmaVOF_24  CommanditaireVennootschapCV_25  \
0                      125220.0                          7180.0
1                      125560.0                          7085.0
2                      125075.0                          7085.0
3                      128075.0                          7220.0
4                      126220.0                          7105.0

   TotaalRechtspersonen_26  BeslotenVennootschapBV_27  \
0                 284880.0                   243290.0
1                 291490.0                   249790.0
2                 294640.0                   253150.0
3                 297830.0                   256420.0
4                 312375.0                   270615.0

   NaamlozeVennootschapNV_28  CooperatieveVereniging_29  \
0                     1060.0                     1285.0
1                     1050.0                     1480.0
2                     1000.0                     1345.0
3                      990.0                     1350.0
4                      990.0                     1360.0

   VerenigingOfStichting_30  Overheid_31  OverigOfOnbekend_32
0                   35160.0       1105.0               2980.0
1                   35050.0       1090.0               3030.0
2                   34980.0       1070.0               3100.0
3                   34900.0       1050.0               3125.0
4                   35185.0       1050.0               3175.0

[5 rows x 35 columns]

DataFrame after load_csv_files equivalent processing:
   ID      BedrijfstakkenBranchesSBI2008          Perioden  \
0   0  A-U Alle economische activiteiten  2007 1e kwartaal
1   1  A-U Alle economische activiteiten  2007 2e kwartaal
2   2  A-U Alle economische activiteiten  2007 3e kwartaal
3   3  A-U Alle economische activiteiten  2007 4e kwartaal
4   4  A-U Alle economische activiteiten  2008 1e kwartaal

   81588NED_TotaalBedrijven_1  81588NED_k_1WerkzaamPersoon_2  \
0                    987345.0                       619565.0
1                   1012210.0                       641795.0
2                   1040415.0                       672410.0
3                   1057860.0                       687525.0
4                   1087470.0                       720745.0

   81588NED_k_2WerkzamePersonen_3  81588NED_k_3Tot5WerkzamePersonen_4  \
0                        158445.0                             81295.0
1                        159225.0                             82530.0
2                        157220.0                             82565.0
3                        160035.0                             82930.0
4                        158780.0                             81475.0

   81588NED_k_5Tot10WerkzamePersonen_5  81588NED_k_10Tot20WerkzamePersonen_6  \
0                              60100.0                               32635.0
1                              60370.0                               32790.0
2                              60085.0                               32785.0
3                              59680.0                               32620.0
4                              59135.0                               32555.0

   81588NED_k_20Tot50WerkzamePersonen_7  ...  \
0                               20280.0  ...
1                               20295.0  ...
2                               20285.0  ...
3                               20200.0  ...
4                               20035.0  ...

   81588NED_MaatschapSamenwerking_23  81588NED_VennootschapOnderFirmaVOF_24  \
0                            47365.0                               125220.0
1                            47290.0                               125560.0
2                            44370.0                               125075.0
3                            44405.0                               128075.0
4                            44495.0                               126220.0

   81588NED_CommanditaireVennootschapCV_25  81588NED_TotaalRechtspersonen_26  \
0                                   7180.0                          284880.0
1                                   7085.0                          291490.0
2                                   7085.0                          294640.0
3                                   7220.0                          297830.0
4                                   7105.0                          312375.0

   81588NED_BeslotenVennootschapBV_27  81588NED_NaamlozeVennootschapNV_28  \
0                            243290.0                              1060.0
1                            249790.0                              1050.0
2                            253150.0                              1000.0
3                            256420.0                               990.0
4                            270615.0                               990.0

   81588NED_CooperatieveVereniging_29  81588NED_VerenigingOfStichting_30  \
0                              1285.0                            35160.0
1                              1480.0                            35050.0
2                              1345.0                            34980.0
3                              1350.0                            34900.0
4                              1360.0                            35185.0

   81588NED_Overheid_31  81588NED_OverigOfOnbekend_32
0                1105.0                        2980.0
1                1090.0                        3030.0
2                1070.0                        3100.0
3                1050.0                        3125.0
4                1050.0                        3175.0

[5 rows x 35 columns]

DataFrame after processing 'Perioden' column:
           Perioden  Year  Quarter
0  2007 1e kwartaal  2007        1
1  2007 2e kwartaal  2007        2
2  2007 3e kwartaal  2007        3
3  2007 4e kwartaal  2007        4
4  2008 1e kwartaal  2008        1

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'